html *{margin: 0;padding: 0;}

.gamearea {
	width: 500px;
	margin: 0 auto;
	border: 1px solid #000;
	overflow:hidden;
	.consub{
		margin: 10px;
		width: 352px;
		height: 528px;
		border: 1px solid #000;
		div{
			float: left;
			border:1px solid #ccc;
			width: 20px;
			height: 20px;
		}
	}
}

.option {
	width: 500px;
	height: 40px;
	margin: 10px auto;
	display: flex;
	border: 1px solid #000;
	overflow:hidden;
	.start,.pause,.reset {
		float: left;
		flex: 1;
		text-align: center;
		border: 1px solid #000;
		line-height: 30px;
		margin: 5px;
		cursor: pointer;
	}
}
